<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>

  <body>
    {{>header}}
    <p>{{welcomeText}}</p>
    <p>But stay tuned...</p>

    {{> footer}}
  </body>

</html>
